[submodule "graspnet-baseline"]
	path = graspnet-baseline
	url = https://github.com/graspnet/graspnet-baseline.git
[submodule "graspnetAPI"]
	path = graspnetAPI
	url = https://github.com/graspnet/graspnetAPI.git
